<div class="card col-md-12">
  <div class="row g-0">
    <div class="text-card col-md-4">
      <div class="card-body">
        <h2 class="title-card mt-5">
          ¡Bienvenido a la <br> herramienta de <br> registro Coink!
        </h2>
        <img src="../../../assets/image1-textpng.png" alt="" height="200">
        <h3 class="title-card mt-4 mb-4">
          Coink para tu día a día. <br> Empieza ahorrando y <br> cumple tus sueños con <br> propósito.
        </h3>
        <img class="mb-5"src="../../../assets/image2-text.png" alt="" height="200">
      </div>
    </div>
    <div class="card-body login-info-card col-md-8">
        <h4 style="color:#212121" >¿Aún no tienes una cuenta? <strong style="color: #001B24;">Regístrate ahora</strong></h4>
        <form class="col-7">
          <h2 style="color: #001B24">Iniciar sesión en Coink</h2>
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Correo electrónico</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
            <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
          </div>
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Contraseña</label>
            <input type="password" class="form-control" id="exampleInputPassword1">
          </div>
          <div class="mb-3 form-check">
            <input type="checkbox" class="form-check-input" id="exampleCheck1">
            <strong class="form-check-label" style="color:#004B40" for="exampleCheck1">Recordarme</strong>
          </div>
          <div class="col-8 mx-auto d-flex flex-column">
            <a class="btn button-login mb-5" routerLink="/characters" >Iniciar sesión</a>
            <a class="text-center" style="color:#001B24; text-decoration: none;">¿Olvidaste tu contraseña?</a>
          </div>
        </form>
    </div>
  </div>
</div>
