.login-info-card{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: #F2F2F2;
  input{
    border:solid 1px #BDBDBD;
    border-radius: 6px;
  }
  .button-login{
    border-radius: 50px;
    background-color: #003336;
      color: white;
  }
}
.text-card{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #001B24;
  .title-card{
    text-align: center;
    color:#C4F6DC;
  }
}
